@charset "UTF-8";
/* CSS Document */

/* Global Styles */
a:link {
	color:#6F0;
	}
a:visited {
	color:#6F9;
	}
a:hover {
	color:#9C0;
	}   /* mouse over link */
a:active {
	color:#6CC;
	}

body {
	font-family:noteworthy;
	}
body h1{
	font-size: 4em;
	}

.home h1 { 
	margin: 1em 0em .8em 0em; 
	font-weight: normal;
	font-family: Georgia;
	font-size: 3em;
	color: #489602;
	line-height: .5em;
	}
.home {
	display:inline-block;
	width: 40%;
	padding: 4em 2em;
	}
.home_right {
	display:inline-block;
	width:40%;
	}

/*footer  { 
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 60px;
	background-color: #fff;
	}
footer span  {
	position: absolute;
	top: 18px;
	right: 24px;
	font-size: 12px;
	}*/


/* Global Layout */
body {
	background:url(images/backgrounds/chinese_background.jpg) no-repeat 0px 0px;
	background-size: cover;
	margin:0;
	}
.logo {
	position:absolute;
	top: 0em;
	left: 0em;
	height: 4.3em;
	}
.logo_symbol {
	position:absolute;
	top: 0em;
	right: 0em;
	height: 5em;
	opacity:0.5;
	filter:alpha(opacity=40);
	} /*filter is for older internet explorer*/

nav { 
	position: absolute;
	bottom: 3em;
	left: 2em;
	}
nav a {
	background: url(images/go.png) no-repeat;
	padding: 0em 1em 0em 0em;
	}

footer {
	position: absolute;
	bottom: 2em;
	right:1em;
	}


/* Page-specific Styles */
body.style2 {
	background:url(images/backgrounds/chinese_background2.jpg) no-repeat 0px 0px; 
	background-size: cover;
	}
	/*home landscape*/
.home_main p {
	font-size: 1.3em;
	}
@media screen and (max-width: 768px) {
		/*home portrait "_p"*/
	.home_main_p p{
	font-size: 1.3em;
	}
}
	/*vocab landscape*/
.vocab_instruction h1 {
	font-size:2em;
	}
@media screen and (max-width: 768px) {
		/*vocab portrait "_p"*/
	
}
	/*contact us landscape*/
.contact_content p {
	font-size: 1.5em;
	}
@media screen and (max-width: 768px) {
		/*contact us portrait "_p"*/
	.contact_content_p p {
		font-size: 1.5em;
		}
}

/* Page-specific Layout */
.beautiful1, .friendship1, .truth1, .wisdom1 {
	-webkit-transition: -webkit-transform 1s ease-in-out;
	}
	/*home landscape*/
.home_main {
	margin-left: 2.564%;
	margin right: 50%;
	margin-top: 4.5em;
	}
.home_main_content {
	margint-left: 8.119%;
	margin-right: 50%;
	}
@media screen and (max-width: 768px) {
		/*home portrait "_p"*/
	.home_main {
		margin-left: 4.762%;
		}
	.home_main_content {
		margint-left: 20.635%;
		}
}
	/*vocab landscape*/
.vocab_define {
	display:inline-block; 
	width: 38.031%; 
	margin-left: 2.564%;
	margin-right: 1.28%; 
	margin-top: 4.5em;
	}
.vocab_vocab {
	display:inline-block; 
	width: 50.269%; 
	margin-left: 1.28%; 
	margin-right: 1.28%; 
	margin-top: 4.5em;
	}
.vocab_instruction {
	position:absolute;
	bottom: 3em;
	right: 4em;
	}
@media screen and (max-width: 768px) {
		/*vocab portrait "_p"*/
	.vocab_define {
		display: block;
		width: 94%;
		margin-left: 2.564%;
		margin-right: 2.564%;
		margin-top: 4.5em;
	}
	.vocab_vocab {
		display: block;
		width: 94%;
		margin-left: 2.564%;
		margin-rigth: 2.564%;
		margin-top: 1.5em;
	}
	.vocab_instruction {
		position:absolute;
		bottom: 1em;
		right: 5em;
	}
}
	/*contact us landscape*/
.contact_contact-us { 
	margin-left: 2.564%;
	margin-right: 50%;
	margin-top: 4.5em;
	}
.contact_content {
	margin-left: 10.684%;
	margin-right: 50%;
	}
@media screen and (max-width: 768px) {
		/*contact us portrait "_p"*/
	.contact_contact-us_p {
		margin-left: 4.762%;
		margin-top: 4.5em;
		}
	.contact_content_p {
		margin-left: 20.635%;
		}
	
	.beautiful1 { 
		position: absolute;
		webkit-transform: translate3d(14em,7em,1em);
		}
	.friendship1 { 
		position: absolute;
		webkit-transform: translate3d(17em,2em,3em);
		}
	.truth1 { 
		position: absolute;
		webkit-transform: translate3d(21em,5em,3em);
		}
	.wisdom1 { 
		position: absolute;
		webkit-transform: translate3d(6em,12em,10em);
		}
}

/* Orientation-specific Layout - Landscape */
		/*home.landscape  { 
	position: relative;
	width: 1024px;
	height: 748px;
	overflow: hidden;
	}*/

/* Orientation-specific Layout - Portrait */
		/*.home.portrait { 
	position: relative;
	width: 768px;
	height: 1004px;
	overflow: hidden;
	}*/