@charset "UTF-8";
/* CSS Document */

																	/* Global Styles */
a:link {
	color:#639;
	}
a:visited {
	color:#606;
	}
a:hover {
	color:#603;
	}   /* mouse over link */
a:active {
	color:#696;
	}
body {
	font-family:noteworthy;
	}
body h1{
	font-size: 4em;
	}																	/* Global Layout */
body {
	background-image: url(images/backgrounds/chinese_background.png);
	background-position: top left;
	background-attachment:fixed;
	background-size: cover;
	margin:0;
	}
.logo1 {
	position:fixed;
	top: 0em;
	left: 0em;
	height: 4.3em;
	}
.logo_symbol {
	position:fixed;
	top: 0em;
	right: 0em;
	height: 5em;
	opacity:0.5;
	filter:alpha(opacity=40);
	} /*filter is for older internet explorer*/

nav { 
	position: fixed;
	bottom: 3em;
	left: 2em;
	}
nav a {
	padding: 0em 1em 0em 0em;
	font-size: 1.3em;
}
footer {
	position: fixed;
	bottom: 2em;
	right:1em;
	}
															/* Page-specific Layout/style Landscape*/
.beautiful1, .friendship1, .truth1, .wisdom1 {
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
	/*home landscape*/
.home_main {
	margin-left: 2.564%;
	margin right: 50%;
	margin-top: 4.5em;
}
.home_main p {
	font-size: 1.3em;
}
.home_main_content {
	margint-left: 8.119%;
	margin-right: 50%;
}
.beautiful1 { 
	position: absolute;
	top: 40%;
	left: 72%;
}
.friendship1 { 
	position: absolute;
	top: 48.5%;
	left: 68%;
}
.truth1 { 
	position: absolute;
	top: 51%;
	left: 76%;
}
.wisdom1 { 
	position: absolute;
	top: 58%;
	left: 57%;
}
body.style2 {  			/*vocab page*/
	background-image: url(images/backgrounds/vertical_background.png); 
	background-size: auto;
	background-position: top left;
	background-attachment: fixed;
}
	/*vocab landscape*/
/*.filler {
	display:inline-block; or none
	width: 38.031%; 
	margin-left: 2.564%;
	margin-right: 1.28%; 
	margin-top: 4.5em;
	text-align:center;
}*/
.filler2 {
	background-image:url(images/backgrounds/vertical_background.png);
	/*background-size: 100%;*/
	background-position: top left;
	background-attachment: fixed;
	/*background-position:length -566.666%;*/
	display:block;
	width: 100%;
	margin-left:0%;
	margin-right: 0%;
	margin-top:0em;
	margin bottom: 0%;
	text-align:center;
	position:fixed;
	bottom: 0em;
	right: 0em;
	height:15%;
}
.filler3 {
	background-image: url(images/backgrounds/vertical_background.png);
	/*background-size: 100%;*/
	background-position: top left;
	display:block;
	width: 100%;
	margin-left:0%;
	margin-right: 0%;
	margin-top:0em;
	margin bottom: 0em;	
	text-align:center;
	position:fixed;
	top:0em;
	right: 0em;
	height:10em;
}
#vocab_define p.font-normal{
	font-size:1.4em;
	font-style:italic;
	margin-top: 0em;
}
#vocab_define p.font-bold{
	font-size:1.6em;
	font-weight:bold;
	margin-bottom: 0em;
}	
#vocab_define {
	position:fixed; /* this is used for fixing scrolling*/
	display:inline-block; 
	width: 38.031%; 
	margin-left: 2.564%;
	margin-right: 1.28%; 
	margin-top: 10em;
	text-align:center;
	left:0;
	z-index: 100;
}
#vocab_define h1 {
	/*height:0em;	*/
	margin-top: 0em;
	margin-bottom: 0em;
	font-size: 3em;
}
#vocab_define #chinese-character {
	font-size: 8em;
}
.vocab_img h1{  /*made for current modifications with text symbols*/
	font-size:13em;	
}
.vocab_vocab .thumbnails img {
	height:5em;
	margin-top: 0em;
	margin-bottom: 0em;
}
.vocab_vocab {
	display:inline-block; 
	width: 50.269%; 
	height: 24em;
	margin-left: 41.875%; 
	margin-right: 1.28%; 
	margin-top: 15%;
	padding-bottom:5em;
}
.vocab_vocab .thumbnails {
	display:inline-block;
	margin: 0em 0em 2px 0px;
	min-width:  14.3965%;
	/*max-width:  43.1895%;*/
	border-style: solid;	
	border-width: thin;
	border-color: transparent;
}
.click_background{
	background-image: url(images/backgrounds/click-background.png) !important;
}
.vocab_vocab .thumbnails:nth-child(even) {
	background-image: url(images/backgrounds/shaded-background.png);
}
.vocab_vocab .thumbnails h3 {
	/*text-orientation: upright;
	writing-mode: vertical-lr;*/
	font-size: 4.5em;
	margin: 0em;
	padding: 0em;
}
.vocab_instruction {
	position:fixed;
	bottom: 1.5em;
	right: 5em;
}
.vocab_instruction h1 {
	font-size:2em;
	text-shadow: 0em 0em 1em #fff,0em 0em 1em #fff,0em 0em 1em #fff,0em 0em 1em #fff;
}
	/*contact us landscape*/
.contact_contact-us { 
	margin-left: 2.564%;
	margin-right: 50%;
	margin-top: 4.5em;
}
.contact_content {
	margin-left: 10.684%;
	margin-right: 50%;
}
.contact_content p {
	font-size: 1.5em;
}
															/* Page-specific Layout Portrait*/
@media screen and (max-width: 768px) {
		/* Global Layout */
	body {
		background-image: url(images/backgrounds/portrait_background2.png);
		background-position: top left;
		background-size: cover;
		background-attachment:fixed;
		margin:0;
		white-space:nowrap;
	}
			/*home portrait*/
	.home_main {
		margin-left: 4.762%;
	}
	.home_main_content {
		margint-left: 20.635%;
	}
	
			/*vocab portrait*/
	body.style2 {
		background-image: url(images/backgrounds/horizontal_background.png); 
		background-position: top left;
		background-size: 100%;
		background-attachment:fixed;
		}
	.filler {
		margin-top:3.5em;
		margin-left:auto;
		margin-right:auto;
		height:80%;
		width: 94.872%;
		display:inline-block;
		text-align:center;
	}
	.filler2 {
		background-image: url(images/backgrounds/horizontal_background.png); 
		/*background-size: 100%;*/
		background-position: bottom left;
		/*display:block;
		width: 3em;
		margin-left:0%;
		margin-right: 0%;
		margin-top:0em;
		margin bottom: 0%;
		text-align:center;
		position:fixed;
		bottom: 0em;
		left: 0em;
		height:100%;*/
	}
	.filler3 {
		background-image: url(images/backgrounds/horizontal_background.png);
		background-position: top left;
		/*background-size: 100%;*/
		/*display:block;
		width: 3em;
		margin-left:0%;
		margin-right: 0%;
		margin-top:0em;
		margin bottom: 0em;	
		text-align:center;
		position:fixed;
		top:0em;
		right: 0em;
		height:100%;*/
	}
	.vocab_vocab {
		height:14em;
		margin-top: 18em;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15%;
		width: 620%;	/*	94.872%	*/
		display: block;
		background-attachment:fixed;
		/*max-width: 150%;*/
		min-width: 100%;		
	}
	.vocab_vocab .thumbnails {
		display:inline-block;
		margin: 0em 1em 1em 0em;
		/*text-wrap:suppress;*/
		float: left;
		min-width: 1em;
	}
	.vocab_vocab .thumbnails img {
		height:4em;	
	}
	/*#vocab_define .vocab_img img{
		height: 9em; 
	}*/
	#vocab_define {
		position:fixed;
		margin-top:3.5em;
		margin-left:auto;
		margin-right:auto;
		width:100%;
		display:inline-block;
		text-align:center;	
	}
	#lesson-title {
		display: block;
		width: 40%;	
		float: left;
	}
	.vocab_img {
		display: inline-block;
		width: 40%;	
		float: left;
		clear: left;
	}
	.caption {
		float: right;	
		width: 60%;
		right: 0em;
		white-space: pre-line;
	}
		#vocab_define h1 {
		/*height: .1em;*/	
	}
	.vocab_instruction h1 {
		font-size:1.5em;
	}
	.vocab_instruction {
		position:fixed;
		bottom: 1.8em;
		right: 5em;
	}
			/*contact us portrait*/
	.contact_contact-us { 
		margin-left: 4.762%;
		margin-top: 4.5em;
	}
	.contact_content {
		margin-left: 20.635%;
	}
		
	.beautiful1 { 
		position: absolute;
		top: 60%;
		left: 29%;
	}
	.friendship1 { 
		position: absolute;
		top: 69%;
		left: 23%;
	}
	.truth1 { 
		position: absolute;
		top: 73%;
		left: 40%;
	}
	.wisdom1 { 
		position: absolute;
		top: 51%;
		left: 49%;
	}
}